@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-display: swap;
	src: url('./polices/inter/inter.ttf') format('truetype');
  }
  

  @font-face {
	font-family: 'Spectral';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('./polices/spectral/Spectral-Light.ttf') format('truetype'),
		
  }
  
  @font-face {
	font-family: 'Spectral';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url('./polices/spectral/Spectral-Italic.ttf') format('truetype'),
  }
  
  @font-face {
	font-family: 'Spectral';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url('./polices/spectral/Spectral-ExtraBoldItalic.ttf') format('truetype'),
  }
  

body {
	max-width: 1920px;
	margin: auto;
	font-family: 'Inter', sans-serif;
	font-style: normal;
}

.top-header {
	background-color: white;
	position: sticky;
	top:0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	padding-inline: 100px;
	padding-block: 30px;
	align-items: center;
}

.top-header .name {
	font-size: 26px;
}

.nav ul {
	display: flex;
	list-style-type: none;
	font-size: 14px;
	margin-bottom: 0;
}

.nav li {
	padding-inline: 10px;
}

.nav a {
	text-decoration: none;
	color: #000
}

.social-link img {
	width: 20px;
	height: 20px;
}
#header {
	height: 70%;
	position: relative;
	margin: 0;
	padding: 0;
}
.arrow-left, .arrow-right {
    position: absolute;
    top: 35%;
    cursor: pointer;
    font-size: 24px; 
	color: white;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.arrow-left {
    left: 3%;
}

.arrow-right {
    right: 3%;
}
.carousel {
	position: relative;
	width: 100%;
	height: 650px; 
	overflow: hidden;
  }

  .carousel-inner-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.5s ease-in-out;
  }
  
  
  .carousel-inner-image.current {
	transform: translateX(0);
  }
  
  .carousel-inner-image.previous {
	transform: translateX(-100%);
  }
  
  .carousel-inner-image.next {
	transform: translateX(100%);
  }
  
  
  .carousel-inner {
	display: flex;
	
  }
  
  .carousel-item {
	flex: 0 0 100%;
	min-width: 100%;
	height: 100%;
  }
  
  .carousel-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  .carousel-indicators {
	position: absolute;
	bottom: 5%;
	left: 50%;
	display: flex;
	z-index: 9;
	margin-top: 10px;
  }
  
  .carousel-indicator {
	width: 30px;
	height: 5px;
	border: none;
	margin: 0 5px;
	padding: 0;
	background-color: grey;
	cursor: pointer;
  }
  
  .carousel-indicator.active {
	background-color: white;
  }
  
 

#about {
	display: flex;
	background-color: #F6D2B8;
	padding-inline: 100px;
	padding-block: 100px;
	position: relative;
}

.picture.left::before {
	content: ' ';
	background-color: #E5975F;
	width: 374px;
	height: 329px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.picture {
	flex: 1;
	margin: 0 20px;
	z-index: 0;
}

.picture img {
	width: 100%;
	height: 100%;
	max-width: 438px;
	max-height: 438px;
	vertical-align: middle
}
#about-me {
	flex: 2
}
.about-me__title {
	margin-top: 1em;
	margin-bottom: 60px;
	font-size: 30px;
}

.about-me__introduction {
	font-family: 'Spectral';
	font-weight: 800;
	font-style: italic;
	width: 60%;
}
#about-me p, #about-me h3 {
	width: 80%;
	font-size: 14px;
}


.title{
	text-align: center;
	padding-block: 2em;
}
.filters {
	margin: auto;
	text-align: center;
}
.nav-link.active {
	color: #fff;
	background-color: #195A66;
	border-radius:0 ;
}
.nav-link {
	font-size: 16px;
	background-color:#fff;
	margin: 10px;
	border: none;
	color: #000
}
.gallery-content {
    justify-content: center;
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; 
    overflow: auto;
    transform-origin: top left;
    transform: scale(0);
    opacity: 0;
    animation: fadeInScale 0.5s ease-in-out 0.5s forwards;
}

@keyframes fadeInScale {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 998;
  }
 
  .modal-container {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 25px;
	background-color: white;
	transform: translate(-50%, -50%);
	border-radius: 15px;
  }
  .modal-image{
	z-index: 999;
	max-height: 55vh;
  }
  

  .modal-prev-btn,
  .modal-next-btn {
	position: absolute;
	top:0%;
	left: 30%;
	font-size: 30px;
	color: black;
	cursor: pointer;
	margin: auto;;
  }

.modal-btn-container-next, .modal-btn-container-prev{
	position: absolute;
	z-index:998;
	top: 50%;
	height: 40px;
	width: 40px;
	background-color: white;
}
.modal-btn-container-prev{
	left: -4%;
}
.modal-btn-container-next{
	right: -4%;
}
  @media screen and (max-width: 768px) {
	.gallery-content {
	  grid-template-columns: repeat(2, 1fr); 
	}
  }
  
  @media screen and (max-width: 480px) {
	.gallery-content {
	  grid-template-columns: repeat(1, 1fr); 
	}
  }
  .gallery-item {
	width: 100%;
	height: 320px;
	min-height: 218px;
	min-width: 218px;
	object-fit: cover;
	padding: 8px;
  }
.mg-prev, .mg-next {
	width: 30px;
	height: 30px;
	border-radius: 00%;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 24px;
}

.quote {
	font-family: 'Spectral';
	font-style: italic;
	width: 70%;
	margin: auto;
	padding-block: 3em;
}
.quote__text {
	font-family: 'Spectral';
	font-style: italic;
	font-weight: 300;

}
.quote__author {
	font-family: 'Spectral';
	font-weight: 800;
	font-size: 22px;
}

#services {
	margin: auto;
	background-color: #A8D5D8 ;
	position: relative;
}
#services .container::before{
	content: ' ';
	background-color: #1C6474;
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 0;
	left: 0;
	z-index: 0;
}

#services .container {
	justify-content: space-between;
	display: flex;
	padding : 2em 0;

}

.service {
	background-color: white;
	max-width: 390px;
	width: 30%;
	height: 337px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;
}

#contact {
	margin: auto;
	background-color: #D8D3A8 ;
	position: relative;
	padding-inline: 100px;
	padding-block: 100px;
}

#contact .container {
	display: flex;
}
.picture.right::before {
	content: ' ';
	background-color: #BEB45A;
	width: 374px;
	height: 329px;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}
.form-container {
	flex : 2;

}
form {
	display: flex;
	flex-direction: column;
	width: 70%;
	align-items: flex-start;
}

form input {
	width: 100%;
	background-color: transparent;
	border: solid 1px;
	height: 2.5em;
	margin-bottom: 20px;
}

form textarea {
	width: 100%;
	background-color: transparent;
	border: solid 1px;
	height: 5em;
	line-height: 2.5em;
	font-size: 1.2em;
	margin-bottom: 20px;
}
input[type="submit"] {
	background-color: #BEB45A;
	padding: .5em 1em
}

@media all and (max-width: 1180px) {
	.picture {
		flex : 2;
	}
	#about, #contact .container {
		align-items: center;
	}
	.about-me__title {
		margin-top: 0;
		margin-bottom: 1em;
	}
	#about-me h3, #about-me p {
		width: 100%;
	}
}

@media all and (max-width: 1000px) {
	#about{
		flex-direction: column;

	}
	.picture {
		width: 50%;
	}
	.picture.left::before {
		width: 100%;
		height: 30%;
		position: absolute;
		bottom: auto;
		top: 0;
		left: 0;
		z-index: -1;
	}
	.about-me__title{
		text-align: center;
		margin-top: 1em;
	}
	#services .container {
		flex-direction: column;
	}
	.service {
		width: 100%;
		max-width: 100%;
		height: auto;
		margin: 2em 0
	}
	.service__description{
		margin-bottom: 1em;
	}

	#services .container::before{
		width: 30%;
		height: 100%;
		bottom: 0;
		right: 0;
		left: auto;
		z-index: 0;
	}

	#contact .container {
		flex-direction: column;
	}
	#contact .picture.right {
		margin-top: 1em;
	}
	.picture.right::before {
		width: 100%;
		height: 30%;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: -1;
	}
}

@media all and (max-width: 650px) {
	.top-header {
		flex-direction: column;
		padding-inline: 0;
	}
	.top-header .nav, .top-header .nav ul {
		width: 100%;
		padding: 0 0 0 0;
	}
	.top-header .nav li {
		flex: 1;
		padding-block: 1em;
		text-align: center;
	}
	.picture.left::before, .picture.right::before {
		height: 150px;
	}
	#services .container {
		align-items: center;
	}
	.service {
		max-width: 90%;
	}
	#about, #contact {
		padding-inline: 2em;
		padding-block: 2em;
	}
	form {
		width: 100%;
	}
	.picture {
		width: 80%;
	}
}

